
<div class = "signupform"> 
	<p>Sign In<p>
	<%= form_for :session, :url => sessions_path do |c| %>
		<div class ="formfield">Email:</div><div> <%= c.text_field :email %> </div>
		<div class ="formfield">Password</div><div> <%= c.password_field :password %> </div>
	<%= c.submit %>
	<% end %>
</div>
