<% if @company.errors.any? %>
	<div>
		<p>
		There are <%= pluralize(@company.errors.count, "error") %>
		</p>
		<ul>
			<% @company.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>