<!-- 
<section id="slide-1" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-1"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-center="opacity: 1"
                data-106-top="opacity: 0"
                data-anchor-target="#slide-1 h2"
            >
                <h2>Fade out elements before <br>they leave viewport</h2>
            </div>
        </div>
    </div>
</section>
  -->




	<div class = "sectionbox" id="introbox">
		<h1> Like it? </h1>
		<h2> Advertise through your own Social Network.</h2>
		<h2> Quick. Easy. Painless </h2>
        <p>hi</p>
	</div>

	<div class = "sectionbox" id="whoarewe">
	 <h1><%= link_to "Sign Up for Company", new_company_path %> <h1>
	 <h1><%= link_to "Sign In", new_sessions_path %> </h1>
	</div>


