
<div x-ng-app="like-app"
	<div x-ng-controller="ProductCtrl">

				<div ng-repeat ="product in products">
					Name:{{product.name}} <br>
					Requirement:{{product.requirement}}<br>
					Company ID:{{product.company_id}}<br>
					Description:{{product.description}}<br>
					Reward:{{product.reward}}<br>
				</div>

		</div>
</div>