
<div x-ng-app="like-app">
	<div x-ng-controller="ProductCtrl">

		<input type= "button" class="button" value="Add a new Product" data-reveal-id="myModal" />

			<div id ="myModal" class= "reveal-modal" data-reveal>
		  		<form ng-submit="saveProduct()" class="form-group">
					<label class="modaltext" for="name">Product Name:</label>
		  			<input ng-model="newProduct.name" name="name" class="form-control" id="nameinput">

		  			<label class="modaltext"for="requirement">Requirement:</label>
		  			<input ng-model="newProduct.requirement" name="requirement" class="form-control" id="requirementinput">

		  			<label class="modaltext" for="reward">Reward:</label>
		  			<input ng-model="newProduct.reward" name="note" class="form-control"></label> <br>

		  			<button class="button">Save Product</button>
				</form>
			</div>
	</div>		
</div>
