

<div x-ng-app ="like-app">
	<div ng-controller = "ProductCtrl">


    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h1><%= "Hello" + " " + @company.name.upcase %></h1>
        </div>
      </div>
    </div>

  <div class="row">
     <div class="large-3 columns">
      <div class="panel">
        <a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>
        <h5><a href="#">Your Name</a></h5>

        <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
         <input type= "button" class="button" value="Add a new Product" data-reveal-id="myModal" />



         <div id ="myModal" class= "reveal-modal" data-reveal>
          <form ng-submit="saveProduct($event)" class="form-group">
            <label class="modaltext" for="name">Product Name:</label>
            <input ng-model="newProduct.name" name="name" class="form-control" id="nameinput" required>

            <label class="modaltext"for="requirement">Requirement:</label>
            <input ng-model="newProduct.requirement" name="requirement" class="form-control" id="requirementinput" required>

            <label class="modaltext" for="reward">Reward:</label>
            <input ng-model="newProduct.reward" name="note" class="form-control" required></label> <br>

            <label class="modaltext" for="description">Description:</label>
            <input ng-model="newProduct.description" name="description" class="form-control" id="nameinput" required>
            
            <br>
            <input type="submit" value="Save Product">
          </form>
        </div>

      </div>

    </div>
  </div>


      <div class="large-6 columns">
        <div class="row">
            <div class="large-10 columns" x-ng-repeat ="product in products">
             <p><strong>Product Name: {{product.name}}</strong><br>Description: {{product.description}} <br> Requirement: {{product.requirement}} Likes <br> Reward: {{product.reward}} </p> 
             <button x-ng-click="deleteProduct(product);" class="button">delete</button>
             <button x-ng-click="editProduct(product);" class="button">edit</button>

                   <form x-ng-show="product.editing" ng-submit="updateProduct(product);" class="form-group">
                      <label for="name">Name:</label>
                      <input ng-model="product.name" name="name" class="form-control">

                      <label for="requirement">Requirement:</label>
                      <input ng-model="product.requirement" name="requirement" class="form-control">

                      <label for="note">Description:</label>
                      <input ng-model="product.description" name="note" class="form-control">

                      <label for="reward">Reward:</label>
                      <input ng-model="product.reward" name="reward" class="form-control">
                      <br>
                      <br>
                    <input type="submit" value="Update Product!" class="button">
                  </form>
            </div>
        </div>
      </div>

      <hr/>

  </div>


</div>
</div>


