<div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div id="user-widget">

		<% if current_user %>
		Welcome <strong><%= current_user.name %></strong>!
		<%= link_to "Sign out", user_signout_path, id: "sign_out", class: "button tiny radius" %>
    <%= link_to "General Listing", products_path, class: "button tiny radius"%>
		<% else %>
		<% end %>

	</div>
      </div>
    </div>
  </div>
   
  <div class="row">
  
     
    <div class="large-3 columns hide-for-small">
      <div class="panel">
        <h5><%= current_user.name %>'s performance</h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="panel">Products claimed:</h5>
          </section>
          <section class="section">
            <h5 class="panel">Likes Generated:</h5>
          </section>
          <section class="section">
            <h5 class="panel">Number of Rewards earned:</h5>
          </section>
          <section class="section">
            <h5 class="panel">Products' pending</h5>
          </section>
        </div>
 
      </div>
    </div>
    
     
     
    <div class="large-6 columns">
       
      <div class="row">
        <div class="large-12 columns small-12"><img src="http://placehold.it/500x300&text=[img]"/></div>
        <div class="large-12 columns">

            <div class="panel" style="float:left">Like Count:</div>
            <div class="panel" style="float:right">Rewards:</div>
            <input style="float: middle" placeholder="facebook post url">
          
        </div>
      </div>
       
 
      <hr/>
 
       
      <!-- <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
        <div class="large-10 columns">
          <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
          <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
        </div>
      </div> -->
       
 
      <hr/>
 
       
      <!-- <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
        <div class="large-10 columns">
          <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
          <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
 
 
          <h6>2 Comments</h6>
          <div class="row">
            <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
            <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
          </div>
        </div>
      </div> -->
       
 
    </div>
 
     
     
    <aside class="large-3 columns hide-for-small">
      <p class="panel" id="featured"><img src="http://placehold.it/300x440&text=[Featured Product]"/><span class="button tiny" style="width:218px">Promote This!</span></p>
      <p class="panel" id="featured"><img src="http://placehold.it/300x440&text=[Featured Product]"/><span class="button tiny" style="width:218px">Promote THis!</span></p>
    </aside>
 
  </div>
 
 
   
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-5 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
      </div>
    </div>
  </footer>
