// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




nav{
	background:yellow;
}

.producttitles{
	font-size:20px;
	font-weight: bold;
	font-family:helvetica;
}

.text{
	font-family: "Roboto";
	font-size: 15px;
}

.productimage{
	float:left;
	margin-right:20px;
	border:1px solid #ddd;
	-webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;

}

.productbox{
	min-height:200px;
}

.signupform{
	padding:40px;
	border:1px solid black;
	width:50%;
	margin:auto;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0px 0px 10px black;
	margin-top:30px;	
}

.formfield{
	float:left;
	width:120px;
}


#companyname {
	color:black;
}

.testing{
	width:100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin:10px 0;
	padding:10px;
	overflow:auto;
	box-shadow: 0 0 5px black;
	background-color:rgba(150,150,150,0.4);
}

.aside{
	width:200px;
	float:left;
	min-height:600px; 
	margin-right:40px;

	h4 {
		text-align: center;
	}
}

.companycontainer{
	padding:50px 100px 100px 50px;
}

.companyrow{
	overflow:scroll;
	max-height:90vh;
	padding:20px;
	border:1px solid #ddd;
	-webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;

	h1 {
		color:black;
		font-family: "roboto";
	}
}


.testing:nth-of-type(odd) {
 background-color:rgba(238,238,238,0.4);
}
	