// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signupform{
	padding:40px;
	border:1px solid black;
	width:50%;
	
}

.formfield{
	float:left;
	width:120px;
}


#companyname {
	color:black;
}



