// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.promoted{
	background:red;
}


.large-10:last-child {
	width:100%;
}

.product{
	width: 220px;
}

fieldset {
	width:400px;
	margin: 0 auto;
	margin-top:10%;
}

input:hover {
	background: #FFF5CC !important;
	-webkit-transition: all 500ms;
}

#product_image {
	width:160px;
}

legend{
	font-size:35px;
}

input.button.radius:hover{
	background:red !important;
}


.panel {
	float:none;
}

.producttitle{
	font-size:20px;
}

.th{
	box-shadow: 0 0 10px black;
	margin-bottom:20px;
	width:100%;
}

.large-5 {
	box-shadow: 0 0 5px #ddd;
	padding:20px;
}

.large-7{		
	box-shadow: 0 0 5px #ddd;
	padding:20px;

		img{
		border: 1px solid black;
		width:15%;
		margin-right:18%;
	}
}

.productsbutton{
	width:212px;
	height:40px;
	font-size: 20px;
	font-family: "Roboto";
	background:#ddd;
}

.promotedbutton{
	width:212px;
	text-align: center;
	line-height:40px;
	border:1px solid rgb(200,200,200);
	background:#ddd;
	height:40px;
	font-size: 20px;
	font-family: "Roboto";

}

#promotersbox {
	overflow:scroll;
	max-height: 90vh;
}

.top-bar ul li, .top-bar a{
	color:white;
};

.top-bar {
	padding-top:10px;
}

.top-bar a {
	margin: 0 20px;
}

.top-bar a:hover {
	text-decoration: underline;
}
