// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel1{
border-style: solid;
border-width: 1px;
border-color: #d8d8d8;
width:auto;
padding: 1.25rem;
background: #f2f2f2;
}


.panel {
	height:100px;
}

.panel1:last-child {
	margin-bottom:20px;
}

.paneltext{
	font-size: 25px;
	font-family: "Oswald";
}

.imgholder img {
	margin-bottom:15px;	
}

.color {
	color:green;
}



.large-3{
	padding:15px;
}

.large-3 {
	box-shadow: 0 0 10px #ddd;

}

#navstatus {
	float:left;
	border:1px solid white;
	
}



#fat {
	font-size:90px;
	font-family: "Oswald";
	margin:10px;
	font-weight: bold;
}

.fb-share-button {
	display:inline-block;
}


.large-6 {
	box-shadow: 0px 0px 3px black;
	min-height:250px;
	padding:20px;
	margin:5px;
	width:49%;
		img {
		margin-right:20px;
	}
}

#welcomeh3 {
	float:left;
	line-height: 2;
}