// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
font-family:'Brandon Grotesque Bold';
src: URL('/assets/brandon_grotesque_bold.ttf')
}



body{
	padding:0;
	margin:0;
}

#introbox{

}

.sectionbox{
	background-color: #3C4661;
	height:720px;
	width:100%;
}

h1{
	margin:0;
	font-family: 'Brandon Grotesque Bold' ;
	color:white;
}

#whoarewe{
	
}

#introbox h1 {
	padding-top:15%;
	margin:0;
	text-align: center;
	font-size: 100px;	
	
}

h2 {
	font-family: "Oswald";
	color:white;
	text-align: center;
}